[build-system]
requires = [
    "hatchling",
]
build-backend = "hatchling.build"

[project]
name = "empack"
description = "empack emscripten+boa"
readme = "README.md"
authors = [
    { name = "Thorsten Beier", email = "derthorstenbeier@gmail.com" },
]
keywords = [
    "empack",
]
classifiers = [
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
dependencies = [
    "appdirs",
    "networkx",
    "pydantic",
    "pydantic",
    "pyyaml",
    "requests",
    "typer",
]
version = "2.0.9"

[project.license]
file = "LICENSE.txt"

[project.scripts]
empack = "empack.cli.main:app"

[project.urls]
Homepage = "https://github.com/emscripten-forge/empack"

[tool.hatch.build.targets.wheel.shared-data]
config = "share/empack"

[tool.hatch.build.targets.sdist]
exclude = [
    ".github",
]
